{%extends"layout.html"%}
{% block body%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for ('static',filename='assets/img/home-bg.jpeg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1></h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>We are passionate about spreading education and our motto is to provide quality education. Since its inception, it has been dedicated, innovative and creative in its teaching approach. We are appreciated for our commitment to providing quality content to viewers. We, here in UDAAN SHIKSHA, focus on creating a platform where the needs of all students, appearing in various competitive exams, are fulfilled. Young, dedicated, and experienced faculties are our key strength. We are specialized in mnemonics and concept- based teaching. We bring timely test series focusing on important exam which is beneficial to all sets of students. Specially we are working for boards exam students like, State board, CBSE, ICSE boards we deliver in both Hindi and English languages. All the latest updates regarding the syllabus, exam pattern are being provided to our viewers through our various social handle Thank you
</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->

{% endblock %}  